:root {
    --transition: 0.4s ease;
    --black: #333;
    --white: #fff;
    --gray: #aaa;
  }
  
  html {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
  }
  
  .app {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 252, 252);
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  button {
    border: none;
    font-family: "Roboto" san-serif;
    padding: 0.33rem;
    border-radius: 5px;
    background-color: darkblue;
    color: #fafafa;
    font-weight: 500;
    font-size: 1rem;
    margin: 1rem;
    cursor: pointer;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  /* input {
    border: none;
    border-radius: 5px;
    padding: .2rem;
    margin: .5rem;
    width: 80%;
  } */
  
  textarea {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    resize: none;
  }
  
  textarea::placeholder {
    color: var(--gray);
  }
  
  .link{
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    color: rgb(15, 15, 15);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h5 {
    color: black;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .nav {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(191, 208, 248);
  }
  .nav > * {
    padding: 2rem;
  }
  .auth-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(191, 208, 248);
    padding: 1rem;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    margin-top: 10%;
  }
  
  .post-form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: rgb(191, 208, 248);
    padding: 1rem;
    border-radius: 10px;
    margin-top: 10%;
    width: 80vw;
    max-width: 650px;
    align-items: flex-start;
  }
  /* Post Styles */
  .post-content {
    max-width: 600px;
    width: 90%;
    min-height: 15rem;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
  }
  
  .post {
    background-color: rgb(191, 208, 248);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 1rem;
    width: 80vw;
    max-width: 800px;
  }
  
  .post-img {
    height: 200px;
  }
  
  .single-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* Vote Styles */
  .vote-box {
    display: flex;
    flex-direction: row;
  }
  
  .vote-count {
    font-weight: bold;
    padding: 0.5rem 0rem;
  }
  
  .vote-box-comments {
    display: flex;
    text-decoration: none;
  }
  
  .link-element {
    text-decoration: none;
  }
  
  .yea {
    background-color: green;
  }
  
  .neutral {
    background-color: gray;
  }
  
  .nay {
    background-color: red;
  }
  /* Comment Styles */
  .comment-box {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    max-width: 800px;
    margin: 50px auto;
    border: rgb(191, 208, 248) solid 2px;
    overflow: hidden;
    padding: 14px;
    transition: min-height var(--transition);
    max-height: 46px;
    border-radius: 10px;
  }
  
  .comment-box.modified {
    max-height: unset;
  }
  
  .comment-field {
    color: var(--black);
    transition: transform var(--transition);
    font-size: 16px;
    width: 100%;
    outline: none;
    padding: 0;
    min-height: 60px;
    transform: translateY(-32px);
    line-height: 1;
  }
  
  .actions {
    width: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    margin-top: 50px;
    opacity: 0;
    transition: opacity var(--transition) 0.2s;
  }
  
  .comment-box.expanded .actions {
    opacity: 1;
  }
  
  .actions button {
    margin-left: 6px;
    font-size: 1rem;
    padding: 12px;
    border: none;
    line-height: 1;
  }
  
  .actions .cancel {
    background: none;
    color: black;
  }
  
  .comment-box.expanded .comment-field {
    transform: translateY(40px);
  }
  
  label {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .header {
    transition: opacity var(--transition) 0.2s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }
  
  .user {
    display: flex;
    align-items: center;
  }
  
  .comment-box.expanded .header {
    transform: translateY(10px);
    opacity: 1;
    visibility: visible;
  }
  
  .comment-container {
    width: 80vw;
    max-width: 800px;
  }
  
  .single-comment-box {
    background-color:rgb(191, 208, 248);
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
  }