* {
  padding: 0;
  margin: 0;
}

html, body {
  font-family: Arial, Tahoma, Serif;
  color: #263238;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer,
.push {
  position: relative;
  left: 0;
  bottom: 0;
}

nav {
  display: flex; /* 1 */
  justify-content: space-between; /* 2 */
  padding: 1rem 2rem; /* 3 */
}

.navbar {
  display: flex; /* 5 */
  list-style: none; /* 6 */
  color: black;
}

.nav-home {
  padding-left: 1rem; /* 7! */
}

.nav-confidence {
  padding-left: 1rem; /* 7! */
}

.nav-inspiration {
  padding-left: 1rem; /* 7! */
}

.nav-kindness {
  padding-left: 1rem; /* 7! */
}

.nav-success {
  padding-left: 1rem; /* 7! */
}

.flex-container {
  display: flex;
  padding-top: 5px;
  margin: 10px;
}

.flex-child {
  flex: 1;
  border: 2px solid white;
}

.flex-child:first-child {
  margin-right: 20px;
  object-fit: cover;
}

.flex-child:nth-child(2) {
  align-items: center;
  justify-content: center;
}

footer {
  text-align: center;
}

.home-title {
  margin-top: 100px;
  margin-bottom: 45px;
}

.home-quote {
  text-align: center;
  margin-left: 20px;
  margin-right: 130px;
  margin-bottom: 20px;
}

.home-author {
  margin-left: 235px;
}

h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

blockquote {
  position: relative;
  text-align: left;
  padding: 1.2em 0 2em 38px;
  border: none;
  margin: 20px auto 20px;
  max-width: 800px;
  width:100%;
  display: block;
}

blockquote:after {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  color: #66cc66;
  top: 0;
  background: -moz-linear-gradient(top,#66cc66 0%,#66cc66 60%,rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top,#66cc66 0%,#66cc66 60%,rgba(255,255,255,0) 100%);
  /* background: linear-gradient(to bottom,#66cc66 0%,#66cc66 60%,rgba(255,255,255,0) 100%); */
}

blockquote:before {
  content:"\f10d";
  font-family: "fontawesome";
  font-size: 20px;
  display: block;
  margin-bottom: 0.8em;
  font-weight: 400;
  color: #66cc66;
}

blockquote > cite, 
blockquote > p > cite {
  display: block;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 700;
  font-style: normal;
  margin-top: 1.1em;
  letter-spacing: 0;
  font-style:italic;
}