.header {
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%); 
}

.trollface {
  width: 31.31px;
  height: 26.22px;
  margin: 20px;
}

.header-title {
  margin-right: auto;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  width: 140.79px;
  height: 24px;
  font-family: "Karla";
  font-style: normal;
  font-weight: bold;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
}

.header-project3 {
  text-align: right;
  margin-right: 37px;
  margin-top: 25px;
  padding: 0;
  color: white;
  width: 189px;
  height: 14px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.form {
  text-align: center;
}

.text-box {
  display: inline-block;
  margin-top: 36px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 15px;
  width: 230px;
  height: 35px;
  border: 1px solid #D5D4D8;
  box-sizing: border-box;
  border-radius: 5px;
}

.generate {
  width: 477px;
  height: 40px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.1em;
  color: white;
  cursor: pointer;
}

.meme-Image {
  max-width: 477px;
  border-radius: 3px;
}

.meme-container {
  margin-top: 15px;
  position: relative;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.memelist-container {
  padding: 10px;
  margin-top: 10px;
  max-width: 560px;
  margin-right: auto;
  margin-left: auto;
}

.meme-list {
  margin-top: 15px;
  position: relative;
}

.meme-listImage {
  max-width: 477px;
  border-radius: 3px;
}

li {
  list-style: none;
}

.meme-listTextTop, .meme-listTextBottom  {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.meme-listTextTop {
  top: 0;
}

.meme-listTextBottom {
  bottom: 0;
  margin-bottom: 50px;
}

.delete-list {
  width: 238.5px;
  height: 40px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.1em;
  color: white;
  cursor: pointer;
}

.edit-list {
  width: 238.5px;
  height: 40px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.1em;
  color: white;
  cursor: pointer;
}